includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: max
    paths:
        - app
    # Skontroluj nastavenie strict rules
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: true
    checkMissingVarTagTypehint: true
    checkExplicitMixed: true
    checkGenericClassInNonGenericObjectType: true
    checkUnionTypes: true
    checkMissingTypehints: true
    strictBinaryOperands: true
    strictRules:
        - PHPStan\Rules\Strict\StrictComparisonRules
        - PHPStan\Rules\Strict\StrictCastsRule
    # Ďalšie nastavenia podľa potreby
    scanFiles:
        - %rootDir%/../../app/Enums/ResponseStatusEnum.php
        - %rootDir%/../../app/DTO/ControllerOutputData.php
